@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Raleway:ital,wght@1,500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2B1608;
  width: 100%;
  height: auto;
}
.nav__logo {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #4A2c2a;
  margin-top: 3%;
  margin-left: 5%;
}
.nav__logo--image {
  width: 100%;
  height: 115px;
}

@media (max-width: 599px) {
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: #E0C5AC;
    text-decoration: none;
  }
  .menuIcon {
    color: #E0C5AC;
  }
  .menuItem:hover {
    text-decoration: underline;
  }
  .hamburger {
    position: static;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: #2B1608;
    background: #2B1608;
    cursor: pointer;
  }
  .closeIcon {
    display: none;
    color: #E0C5AC;
  }
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: 99;
    background: #2B1608;
    color: #E0C5AC;
    list-style: none;
    padding-top: 4rem;
  }
  .showMenu {
    transform: translateY(0);
  }
}
.home {
  height: 700px;
  background-color: #311A08;
}
.home__arch {
  background: #E0C5AC no-repeat padding-box;
  border-radius: 600px 600px 0px 0px;
  width: 100%;
  height: 600px;
  opacity: 0.72;
  position: relative;
  margin: auto;
  top: 100px;
}
.home__hero {
  width: 270px;
  height: 500px;
  position: absolute;
  top: 280px;
  left: 130px;
}
.home__intro {
  text-align: center;
}
.home__intro--welcome {
  position: absolute;
  top: 330px;
  left: 5%;
  text-align: left;
}
.home__intro--header {
  font-family: "Merriweather", serif;
  font-size: 2.8em;
  width: 60%;
  color: #7B4D23;
}
.home__intro--subheader {
  font-family: "lato";
  font-size: 1.5em;
  font-weight: bold;
  width: 80%;
  padding-top: 2%;
  margin-bottom: 10%;
  color: #2B1608;
}
.home__intro--button {
  margin-top: 5%;
  border-style: none;
  padding: 3%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  background: #825328;
  color: #E0C5AC;
  width: 50%;
  position: absolute;
  top: 570px;
  left: 25px;
}

.about {
  margin-top: 0%;
  background: linear-gradient(to right, #311A08 0%, #311A08 50%, #825328 50%, #825328 100%);
  padding-bottom: 5%;
}
.about__bio {
  text-align: center;
  margin-top: 5%;
}
.about__bio--paragraph {
  color: #E0C5AC;
  font-family: "Lato", sans-serif;
  width: 90%;
  text-align: left;
  margin-left: 5%;
  padding: 5%;
  font-size: 1.2em;
  line-height: 1.8em;
}
.about__content {
  margin: auto;
}
.about__content--image {
  width: 100%;
  height: 300px;
  margin-top: 20%;
  box-shadow: 0px 2px 5px rgb(100, 53, 2);
}
.about__content--border {
  width: 213px;
  height: 250px;
  position: absolute;
  top: 79%;
  border-bottom: #c19A6b 10px solid;
  border-right: #c19A6b 10px solid;
  border-radius: 1%;
}
.about__button {
  margin-top: 0%;
  border-style: none;
  padding: 3%;
  margin-top: 5%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid #c19A6b;
  color: #c19A6b;
}

.quote {
  height: 250px;
  background-color: #E0C5AC;
}
.quote__content {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  text-align: center;
  padding: 10%;
  color: #825328;
}

.services {
  background-color: #311A08;
  margin-top: 0%;
}
.services__service1 {
  width: 300px;
  height: 100px;
  margin-top: 15%;
}
.services__service2 {
  width: 300px;
  height: 100px;
  margin-left: 23%;
  margin-top: 5%;
}
.services__service3 {
  width: 300px;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 15%;
}

.contact {
  background-image: url("../images/lawBooks1.jpg");
  background-size: cover;
  height: 500px;
  margin-top: 0%;
  position: relative;
}
.contact__form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #825328;
  opacity: 0.75;
  padding-top: 10%;
  border-style: none;
  margin-left: 15%;
  position: absolute;
  bottom: 20%;
  left: 4%;
}
.contact__button {
  font-family: "Lato", sans-serif;
  border-style: none;
  width: 12em;
  height: 3em;
  margin-left: 10%;
  border-radius: 6px;
  font-weight: 800;
}
.contact__form--tittle {
  font: 1.5em "Roboto Condensed";
}
.contact__user {
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.contact__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  border: 0;
  border-bottom: 4px solid #E0C5AC;
  width: 15em;
  height: 3em;
  color: #E0C5AC;
  padding: 0%;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  margin: auto;
}

input:nth-child(4) {
  height: 6em;
}

input::-moz-placeholder {
  color: #E0C5AC;
}

input::placeholder {
  color: #E0C5AC;
}

.button {
  border: none;
  width: 40%;
  margin: auto;
  background-color: #825328;
  padding: 5%;
  color: #E0C5AC;
}

.message {
  height: 85px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #2B1608;
  color: #E0C5AC;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.footer__logo {
  width: 200px;
}
.footer__title {
  font-family: "Merriweather", serif;
  margin-bottom: 10%;
}
.footer__socials {
  margin-bottom: 10%;
}
.footer__subheader {
  font-family: "Lato", sans-serif;
}
.footer__links {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 2%;
  color: #825328;
}

@media (min-width: 600px) {
  .menu {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 2%;
    margin-right: 3.5%;
  }
  li {
    list-style: none;
  }
  .menuItem {
    color: #2b1a18;
    font-family: "lato";
    font-size: 1.2em;
    text-decoration: none;
  }
  .hamburger {
    display: none;
  }
  .home {
    height: 500px;
  }
  .home__intro--welcome {
    padding-top: 20%;
  }
  .home__intro--header {
    padding-top: 0%;
  }
  .home__intro--subheader {
    padding-top: 5%;
  }
  .home__intro--button {
    width: 30%;
  }
  .services__container {
    display: flex;
    flex-direction: row;
  }
  .contact {
    gap: 10%;
  }
  .contact__socials {
    margin-top: 4%;
  }
  .contact__container {
    flex-direction: row;
    gap: 2%;
  }
  .button {
    margin-top: 2%;
    width: 25%;
    padding: 2%;
  }
}
@media (min-width: 1200px) {
  .home {
    height: 600px;
  }
  .home__intro--welcome {
    padding-top: 10%;
  }
  .home__intro--header {
    font-size: 4em;
  }
  .home__intro--subheader {
    font-size: 1.5em;
    width: 60%;
  }
  .home__intro--button {
    width: 20%;
    padding: 2%;
    font-size: 1em;
  }
}/*# sourceMappingURL=index.css.map */