@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Raleway:ital,wght@1,500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c19A6b;
  margin: 0%;
  width: 100%;
  height: 60px;
}
.nav__logo {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #4A2c2a;
}
.nav__logo--image {
  height: 60px;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: #c19A6b;
  background: #c19A6b;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5%;
  z-index: 99;
  background: #c19A6b;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.home {
  background: url("../images/lady-justice.jpeg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}
.home__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.home__intro--welcome {
  padding-top: 30%;
}
.home__intro--linda {
  width: 50%;
  opacity: 0.2;
}
.home__intro--header {
  font-family: "Merriweather", serif;
  font-size: 2em;
  width: 95%;
  margin: auto;
  color: #eadfd2;
  position: absolute;
}
.home__intro--subheader {
  font-family: "Merriweather", serif;
  font-size: 1em;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding-top: 10%;
  color: #eadfd2;
}
.home__intro--button {
  margin-top: 5%;
  border-style: none;
  padding: 3%;
  margin-top: 5%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid #c19A6b;
  color: #c19A6b;
  width: 40%;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ddcebc;
  padding-bottom: 5%;
}
.about__bio {
  text-align: center;
  margin-top: 5%;
}
.about__bio--header {
  color: #4A2c2a;
  font-family: "Roboto Condensed", sans-serif;
}
.about__bio--paragraph {
  color: #4A2c2a;
  font-family: "Lato", sans-serif;
  width: 90%;
  text-align: center;
  margin-left: 5%;
}
.about__content {
  margin-left: 30%;
  margin-top: 10%;
}
.about__content--image {
  width: 60%;
  position: relative;
  border-radius: 2%;
  box-shadow: 0px 2px 5px rgb(100, 53, 2);
}
.about__content--border {
  width: 213px;
  height: 250px;
  position: absolute;
  top: 79%;
  border-bottom: #c19A6b 10px solid;
  border-right: #c19A6b 10px solid;
  border-radius: 1%;
}
.about__button {
  margin-top: 0%;
  border-style: none;
  padding: 3%;
  margin-top: 5%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid #c19A6b;
  color: #c19A6b;
}

.services {
  text-align: center;
}
.services__service {
  width: 40%;
  margin: auto;
  border: rgba(74, 44, 42, 0.4392156863) 2px solid;
  margin-bottom: 10%;
  padding: 5%;
  border-radius: 5%;
  background-color: #4A2c2a;
  box-shadow: 0px 2px 5px rgb(100, 53, 2);
}
.services__tittle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
  color: #4A2c2a;
}
.services__service--tittle {
  color: #c19A6b;
  font-family: "Merriweather", serif;
}
.services__service--description {
  color: #ddcebc;
  font-family: "Lato", serif;
}
.services__service--icon {
  margin-right: 5%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #4A2c2a;
  padding: 5%;
}
.contact__socials {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15%;
}
.contact__socials--container {
  display: flex;
  gap: 5px;
}
.contact__social--tittle {
  color: #eadfd2;
  font-family: "Roboto Condensed", sans-serif;
}
.contact__social {
  width: 40px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contact__button {
  font-family: "Lato", sans-serif;
  border-style: none;
  width: 12em;
  height: 3em;
  margin-left: 10%;
  border-radius: 6px;
  font-weight: 800;
}
.contact__form--tittle {
  color: #ddcebc;
  font: 1.5em "Roboto Condensed";
}

input {
  border-style: none;
  width: 15em;
  height: 3em;
  border-radius: 6px;
  padding: 0%;
  background-color: rgba(206, 187, 164, 0.2196078431);
  color: #ddcebc;
  font-family: "Lato", sans-serif;
}

input:nth-child(4) {
  height: 6em;
}/*# sourceMappingURL=index.css.map */